.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.title {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 24px;
}

.cell {
	display: flex;
	font-size: 16px;
}
.cell div {
	width: 30%;
}

.tableHeader {
	display: flex;
	font-size: 16px;
	font-weight: 600;
}

.tableHeader div {
	width: 30%;
}
